<!DOCTYPE html>
<div class="container">
  <app-header></app-header>
  <div class="body-container" style="text-align:center">
    <nav>
        <a routerLink="/" routerLinkActive="active">Hello</a>
        <a routerLink="/about-me" routerLinkActive="active">About me</a>
        <a routerLink="/personal-projects" routerLinkActive="active">Personnal projects</a>
        <a routerLink="/contact" routerLinkActive="active">Contact me</a>
        <a routerLink="/my-projects" routerLinkActive="active">My projects</a>
      </nav>
      <router-outlet></router-outlet>
</div>
